.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/tutorials/*.html
inst/tutorials/intro-programacao_introducao/tutorial.html
inst/tutorials/intro-programacao_tabelas/tutorial.html
inst/tutorials/intro-programacao_filtros/tutorial.html
inst/tutorials/intro-programacao_operadores/tutorial.html
inst/tutorials/intro-programacao_loops/tutorial.html
inst/tutorials/intro-programacao_funcoes/tutorial.html
.DS_Store
